# Datos pesados
data/raw/
*.csv
*.csv.gz
*.geojson

# Excepción: Subset de 21 columnas
!data/processed/listings_subset.csv

# Python / Jupyter
__pycache__/
.ipynb_checkpoints/
*.pyc
.env
.venv/
.DS_Store